@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap")
:root {
    --pagedjs-orientation: portrait;
    --pagedjs-width: 8.5in;
    --pagedjs-height: 11.5in;
    --pagedjs-width-right: 8.5in;
    --pagedjs-height-right: 11.5in;
    --pagedjs-width-left: 8.5in;
    --pagedjs-height-left: 11.5in;
}
:root {
  --row-blocks-padding-top: 0.3rem;
  --sidebar-width: 13rem; /* Shrink sidebar width  */
  --sidebar-background-color: #F5FEFD; /* Make sidebar snow */
  --sidebar-horizontal-padding: 0.01in; /* Reduce sidebar padding */
  --sidebar-vertical-padding: 0.01in;
  --decorator-border: 2px solid #bdd7e7; /* Make timeline a blue as well*/
  --main-width: calc(var(--content-width) - var(--sidebar-width) + .09in);
}
.pagedjs_page {
    background: linear-gradient(to left,var(--sidebar-background-color),var(--sidebar-background-color) var(--sidebar-background-width),white var(--sidebar-background-width));
    --pagedjs-margin-top: 1in;
    --pagedjs-margin-right: 0.5in;
    --pagedjs-margin-left: 0.25in;
    --pagedjs-margin-bottom: 1in;
    --pagedjs-border-top: [object Object];
    --pagedjs-border-right: [object Object];
    --pagedjs-border-left: [object Object];
    --pagedjs-border-bottom: [object Object];
    --pagedjs-pagebox-width: 8.5in;
    --pagedjs-pagebox-height: 11.5in;
    --sidebar-background-width: calc(var(--pagedjs-margin-right) + var(--sidebar-width) - .05in);;
}
.pagedjs_margin-bottom {
    width: calc(var(--pagedjs-pagebox-width) - var(--pagedjs-margin-left) - var(--pagedjs-margin-right));
    height: .5in;
    grid-column: center;
    grid-row: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
}
.pagedjs_margin-bottom-left-corner-holder {
    width: var(--pagedjs-margin-left);
    height: .5in;
    display: flex;
    grid-column: left;
    grid-row: footer;
}
.pagedjs_margin-bottom-right-corner-holder {
    width: var(--pagedjs-margin-right);
    height: .5in;
    display: flex;
    grid-column: right;
    grid-row: footer;
}
h1,
h2,
h3 {
  font-family: "Prompt", sans-serif;
  color: #000;
}
body {
  font-family: "Roboto Slab", sans-serif;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.1rem;
  color: #1A1110;
}
.details .place {
    float: left;
    font-size: 0.75rem;
    padding-bottom: .25rem;
}
p {
  font-family: "Roboto Slab", sans-serif;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.1rem;
  color: #1A1110;
  margin-block-start: 0em;
  margin-block-end: 0em;
  
}
a {
  color: #1A1110;
  text-decoration: underline;
  
}
.details .location {
    float: right;
    font-weight: 350;
}
.details header {
    color: #000;
    font-weight: 500;
}
.aside{
  /* Remove additional padding from sidebar, keeps main and sidebar even at height  */
  padding: .1in;
  width: 15rem;
}
.aside .level2 {
  /* Remove additional padding from sidebar, keeps main and sidebar even at height  */
  margin-top: .5in;
}
* {
  /* Override default right margin for sidebar*/
  --pagedjs-margin-right: 0.1in;
  --pagedjs-margin-left: 0.1in;
  --pagedjs-margin-top: 0.2in;
  /* Remove additional padding from user agent inside sidebar*/
  padding-inline-start: 0px;
}

[data-id="title"] h1 {
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 1;
    padding-bottom: .5rem;
}
.section .level2 {
  margin-block-start: auto;
  margin-block-end: auto;
}
span.my-location {
    font-size: .8rem;
    font-weight: 400;
    text-transform: none;
    float: right;
    padding-top: .75rem;
}
span.my-blurb {
    font-size: .8rem;
    line-height: 1.1rem;
}
[data-id="main"] {
    font-size: .77rem;
    margin: 0.05in 0;
    padding-top: 0px;
    padding-right: 0.1px;
    padding-left: 0.1px;
    padding-bottom: 0px;
    line-height: 1.12rem;
}

.fa.fa-address-card-o:before {
    content: "\f2bb";
    margin-right: 5px;
}
.fa.fa-home:before {
    color: #000;
    padding-right: 3px;
    padding-left: 3px;
}
.fa.fa-envelope:before {
    color: #000;
    padding-right: 3px;
    padding-left: 3px;
}
.fa.fa-linkedin:before {
    color: #000;
    padding-right: 3px;
    padding-left: 3px;
}
.fa.fa-github:before {
    color: #000;
    padding-right: 3px;
    padding-left: 3px;
}
[data-id="main"] h2 {
    position: relative;
    top: var(--row-blocks-padding-top);
    left: calc((var(--date-block-width) + var(--decorator-horizontal-margin)));
    font-weight: 400;
    font-size: 1.05rem;
    color: #555;
}
[data-id="main"] h2::after {
    height: 5px;
    position: relative;
    top: calc(-1 * var(--row-blocks-padding-top));
    left: calc(-1 * var(--decorator-horizontal-margin));
    display: block;
    border-left: var(--decorator-border);
    z-index: 0;
    line-height: 1.25;
    font-size: .8rem;
    content: ' ';
}
div#experience {
    padding-top: .5rem;
}
[data-id="languages"] h2 {
  padding-top: 1rem;
  padding-bottom: 2px;
  color: #555;
}
[data-id="education"] {
  line-height: 0px;
}
[data-id="education"] h2 {
  padding-top: 12px;
  padding-bottom: 4px;
  color: #555;
}
[data-id="education"] h3, h4 {
  line-height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

[data-id="tools"] {
  line-height: 0px;
}
[data-id="tools"] h2 {
  padding-top: 4px;
  padding-bottom: 4px;
  color: #555;
}
[data-id="tools"] h3, h4 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-block-start: .75em;
  margin-block-end: .75em;
  line-height: 0px;
}
[data-id="organizations"] {
  line-height: 0px;
}
[data-id="organizations"] h2 {
  padding-top: 1rem;
  padding-bottom: 2px;
  color: #555;
}
[data-id="organizations"] h3, h4 {
  padding-top: 4px;
  padding-bottom: 2px;
  margin-block-start: .75em;
  margin-block-end: .75em;
  line-height: 0px;
}
li {
    list-style-type: none;
    line-height: 1rem;
}
[data-id="main"] li {
    margin: 0 0 0.015in 0;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.6rem !important;
}